<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256273669651-upid41e33m3vgdfmen63h21tj0s6nbmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256273669651-upid41e33m3vgdfmen63h21tj0s6nbmg</string>
	<key>API_KEY</key>
	<string>AIzaSyBlc0847DYa_l9BJJxH0eeuXDkMkZzwPY4</string>
	<key>GCM_SENDER_ID</key>
	<string>256273669651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todo-2cf0f</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-2cf0f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256273669651:ios:d2d07186ab8bd6691029e6</string>
</dict>
</plist>